<bb-modal>
  <div class="modal-form modal-authorize">
    <bb-modal-header>Barkbaud</bb-modal-header>
    <div bb-modal-body>
      <p class="alert alert-danger" ng-if="loginPage.error" ng-switch="loginPage.error">
        <span ng-switch-when="access_denied">
          Barkbaud requires access to RENXT.
        </span>
        <span ng-switch-default>
          An unknown error has occurred.
        </span>
      </p>
      <p>Welcome to the Barkbaud Sample App.  This demo was built to showcase the Blackbaud NXT API and Blackbaud Sky UX.</p>
      <p>Click the Login button below to view the demo, or click the Learn More button below to visit the GitHub repo.</p>
    </div>
    <bb-modal-footer>
      <div ng-show="loginPage.waitingForAuth">
        <i class="fa fa-2x fa-spin fa-spinner" ></i> Checking authentication...
      </div>
      <div ng-hide="loginPage.waitingForAuth">
        <bb-modal-footer-button-primary  ng-click="loginPage.login()">
          Authorize Barkbaud
        </bb-modal-footer-button-primary>
        <a href="https://github.com/blackbaud/barkbaud" target="_blank" class="btn bb-btn-secondary">
          Learn More
        </a>
      </div>
    </bb-modal-footer>
  </div>
</bb-modal>
