<bb-modal>
  <form name="behaviorTrainingAdd.formAdd" ng-submit="behaviorTrainingAdd.saveData()">
    <div class="modal-form">
      <bb-modal-header>Add Behavior/Training</bb-modal-header>
      <div bb-modal-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Source:</label>
              <select class="form-control" ng-change="behaviorTrainingAdd.loadCategories(source)" ng-model="behaviorTrainingAdd.behaviortraining.source">
                <option ng-repeat="source in behaviorTrainingAdd.sources" ng-bind="source" value="{{source}}"></option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Category:</label>
              <select class="form-control" ng-model="behaviorTrainingAdd.behaviortraining.category">
               <option ng-repeat="category in behaviorTrainingAdd.categories" ng-bind="category.name" value="{{category.name}}"></option>
             </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label">Description</label>
              <textarea class="form-control" ng-model="behaviorTrainingAdd.note.description"></textarea>
            </div>
            <div class="form-group">
              <label class="control-label">
                <input type="checkbox" bb-check ng-model="behaviorTrainingAdd.note.addConstituentNote" />
                Add as note on current owner's Raisers Edge NXT record.
              </label>
            </div>
          </div>
        </div>
      </div>
      <bb-modal-footer>
        <bb-modal-footer-button-primary></bb-modal-footer-button-primary>
        <bb-modal-footer-button-cancel></bb-modal-footer-button-cancel>
        <span ng-show="behaviorTrainingAdd.error" class="text-danger">
          <span ng-show="behaviorTrainingAdd.error.message">{{ behaviorTrainingAdd.error.message }}</span>
          <span ng-hide="behaviorTrainingAdd.error.message">Unknown error occured.</span>
        </span>
      </bb-modal-footer>
    </div>
  </form>
</bb-modal>
