<bb-tile bb-tile-header="'Behavior/Training'">
  <bb-tile-header-content ng-show="dogBehaviorTrainingTile.ratings.length">
      {{ dogBehaviorTrainingTile.ratings.length }}
  </bb-tile-header-content>
  <div>
    <div class="toolbar bb-tile-toolbar">
      <button type="button" class="btn bb-btn-secondary" ng-click="dogBehaviorTrainingTile.addBehaviorTraining()"><i class="fa fa-plus-circle"></i> Add Behavior/Training</button>
    </div>
    <div ng-show="dogBehaviorTrainingTile.ratings">
      <div ng-switch="dogBehaviorTrainingTile.ratings.length || 0">
        <div bb-tile-section ng-switch-when="0" class="bb-no-records">
          This dog has no behaviors/trainings.
        </div>
        <div ng-switch-default class="bb-repeater">
          <div ng-repeat="rating in ::dogBehaviorTrainingTile.ratings.slice().reverse() track by $index" class="bb-repeater-item">
            <span class="custom-rating-dropdown">
                <bb-context-menu>
                    <!--<li role="presentation">
                        <a role="menuitem" href="" ng-click="showBehaviorTrainingEditForm(rating.id)" >Edit Behavior/Training</a>
                    </li>-->
                    <li role="presentation">
                        <a role="menuitem" href="" ng-click="BehaviorTrainingDeleteForm.openForm(dogBehaviorTrainingTile.locals.dogId, rating._id)" >Delete Behavior/Training</a>
                    </li>
                </bb-context-menu>
            </span>
            <h4 class="bb-repeater-item-title">{{:: rating.category.name }}</h4>
            <h5>{{:: rating.value }}</h5>
            <p ng-if=":: rating.source">{{:: rating.source }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div bb-tile-section class="text-danger" ng-show="dogBehaviorTrainingTile.error">
    Error loading behaviors/trainings.
  </div>
</bb-tile>
