@import "../../bower_components/blackbaud-skyux/scss/mixins";

.bark-dog-bio {
    white-space: pre-wrap;
}

.bark-photo {
    height: 150px;
    width: 150px;
    background-position: 50%;
    background-size: cover;
    margin-top: $margin;

    &.bark-photo-small {
        height: 100px;
        width: 100px;
    }
}

.bark-home-address {
    white-space: pre-wrap;
}

a:hover .bark-dog-photo,
a:hover .bark-dog-photo {
  border: solid 4px $bb-color-blue;
  transition: border-width 0.2s ease-in-out;
}

.modal-authorize .close {
  display: none;
}
