<bb-tile bb-tile-header="'Medical History'">
  <bb-tile-header-content ng-show="dogNotesTile.notes.length">
      {{ dogNotesTile.notes.length }}
  </bb-tile-header-content>
  <div>
    <div class="toolbar bb-tile-toolbar">
      <button type="button" class="btn bb-btn-secondary" ng-click="dogNotesTile.addNote()"><i class="fa fa-plus-circle"></i> Add History</button>
    </div>
    <div ng-show="dogNotesTile.notes">
      <div ng-switch="dogNotesTile.notes.length || 0">
        <div bb-tile-section ng-switch-when="0" class="bb-no-records">
          This dog has no medical history.
        </div>
        <div ng-switch-default class="bb-repeater">
          <div ng-repeat="note in dogNotesTile.notes" class="bb-repeater-item">
            <h4 class="bb-repeater-item-title">{{ note.title }}</h4>
            <h5>{{ dogNotesTile.getNoteDate(note.date) }}</h5>
            <p>{{ note.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div bb-tile-section class="text-danger" ng-show="dogNotesTile.error">
    Error loading notes.
  </div>
</bb-tile>
